<div class="text-center mt-3">
  <h2 style="color: #b58900">
    Your Matches -{{ pagination.totalItems }} found !
  </h2>
</div>

<div class="container mt-3">
  <form
    #Form="ngForm"
    class="d-flex mb-3"
    (ngSubmit)="loadMembers()"
    autocomplete="off"
  >
    <div class="d-flex mx-2">
      <label class="col-form-label">Age From:</label>
      <input
        type="number"
        class="form-control ms-1"
        style="width: 70px"
        name="minAge"
        [(ngModel)]="userParams.minAge"
      />
    </div>
    <div class="d-flex mx-2">
      <label class="col-form-label">Age to:</label>
      <input
        type="number"
        class="form-control ms-1"
        style="width: 70px"
        name="maxAge"
        [(ngModel)]="userParams.maxAge"
      />
    </div>
    <div class="d-flex px-2">
      <label class="col-form-label me-2"> Show: </label>
      <select
        name="gender"
        class="form-select ms-1"
        [(ngModel)]="userParams.gender"
        style="width: 130px"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button class="btn btn-success ms-2 me-2" type="submit">
      Apply Filters
    </button>
    <button class="btn btn-info ms-1" (click)="resetFilter()" type="submit">
      Reset Filters
    </button>

    <div class="col ms-2">
      <div class="btn-group float-end">
        <button
          class="btn btn-success"
          name="odrderBy"
          style="margin-right: 2px"
          btnRadio="lastActive"
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
        >
          Last Active
        </button>

        <button
          class="btn btn-info"
          name="odrderBy"
          btnRadio="created"
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
        >
          Newest Member
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChange($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
